<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="../../../assets/images/logo.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Impermeabilizaciones</h4>
                                </div>

                                <form [formGroup]="loginForm">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="usuario"><strong>Usuario</strong></label>
                                        <input type="email" formControlName="usuario" class="form-control"
                                            placeholder="Ingrese usuario"
                                            [class.is-invalid]="submit && controlsLogin.usuario.errors" />
                                        <div *ngIf="submit && controlsLogin.usuario.errors" class="invalid-feedback">
                                            <div *ngIf="controlsLogin.usuario.errors?.required">Campo Requerido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="contrasenia"><strong>Contraseña</strong></label>
                                        <input type="password" formControlName="contrasenia" class="form-control"
                                            [class.is-invalid]="submit && controlsLogin.contrasenia.errors"
                                            placeholder="Ingrese contraseña" />
                                        <div *ngIf="submit && controlsLogin.contrasenia.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="controlsLogin.contrasenia.errors?.required">Campo Requerido
                                            </div>
                                        </div>

                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary mb-3" type="button"
                                            (click)="inicarSesion()">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">¿Que es un sistema de control de inventarios?</h4>
                                <p class="small mb-0">El sistema de inventarios es el conjunto de procedimientos que
                                    permiten a la empresa conocer la cantidad de productos que mantiene en stock y
                                    monitorear su rotación..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>